
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #666666;
}
.vue-dog {
  float: left;
}

.txt {
  text-align: left;
  flex-flow: column;
}
.welcome-txt {
  margin-bottom: 70px;
  padding-top: 50px;
}

.div-txt {
  float: left;
  text-align: left;
  padding-top: 20px;
}

.div-input {
  float: left;
  width: 500px;
  height: 50px;
  
}
 
.form-group {
  justify-content: left;
  float: left;
}
  
.leftCard {
  float: left;
}
  
.rightCard {
  float: right;  
}
 
.card {
  width: 49.5%; 
  height: 120px;
  border: 1px solid #666666;   
  padding: 10px;
}

.card-pesquisa {
  border: 1px solid #666666;   
}
 
.btn-styled {
  float: left;
  margin-right: 10px;
  background-color: #eeeeee;
  height: 100px;
  width: 100px;
  border-radius: 75px;
}
.btn-input {
  background-color:#eeeeee;
  margin-left: 15px;
  height: 50px;
  width: 100px;
  margin-top: 120px;
  color: #666666;
}

.btn-card-pesquisa {
  background-color:#eeeeee;
  height: 35px;
  width: 80px;
  float: right;
  color: #666666;
  margin-bottom: 15px;
}

.btn-cadastro {
  background-color:#eeeeee;
  height: 50px;
  width: 80px;
  margin: 20px;
  color: #666666;
  
}

input {
  border: 2px solid #666666;
}

h5 {
    font-weight: bold;
}

label {
  float: left;
}

li {
  list-style-type: none;
  border: 1px solid #666666;
  text-align: left;
  padding-top: 15px;
  padding-left: 5px;
  margin: 10px;
  border-radius: 5px;
}